       <div>

          <h3>{{this.name}}</h3>
          
         
          {{#each this.chars as |c| }}
    
          <div class="profile-gallery">
              <CharIcon @char={{c}} />
          </div>
          
          {{/each}}
      
       </div>

     <div class="clearfix"> </div>
