<div class="char-icon-container">
    
<div class="log-icon-container">
    {{#link-to "char" char.name}}
       {{#if char.icon}}
        <img class="log-icon" src="/game/uploads/{{char.icon}}" />
       {{else}}
       <img class="log-icon" src="/game/uploads/theme_images/noicon.png" />
       {{/if}}
    {{/link-to}}
</div>

<div class="log-icon-title-container">
    <div class="log-icon-title">
     {{char.name}}
    </div>
</div>

</div>