<h2>Magic Items</h2>

{{#each this.char.custom.magic_items as |item|}}
 <p><b>{{item.name}}</b><br>
   <AnsiFormat @text={{item.desc}} /></p>
{{/each}}

<h2>Potions</h2>
<ul>
{{#each this.char.custom.potions as |potion|}}
  <li>{{potion}}</li>
{{/each}}
</ul>

{{#if this.char.custom.potions_creating}}
  <h3>Potions Creating</h3>
  <ul>
  {{#each this.char.custom.potions_creating as |potion|}}
    <li>{{potion}}</li>
  {{/each}}
  </ul>
{{/if}}
