<h2>Compliments</h2>
<p>The most recent 10 compliments. For all compliments, use `comps` on game.</p>

{{#each this.char.custom.comps as |comp|}}
<div class="comp">
 <p><AnsiFormat @text={{comp.msg}} /><i>From {{comp.from}} on {{comp.date}}</i></p></div>
{{/each}}
