{{#each achievements as |achieve| }}
<p>
<i class="fa {{achieve.type_icon}} fa-2x" aria-hidden="true"></i>

&nbsp;

{{achieve.message}} 

{{#if achieve.count}}
({{achieve.count}})
{{/if}}
</p>
{{/each}}