<table class="table table-striped">
<tbody>
      <tr>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    
{{#each posts as |p|}}
    <tr>
    <td>
        {{#if p.unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span>
        {{/if}}
         {{#link-to 'forum-topic' p.category_id p.id}}{{p.title}}{{/link-to}}
     </td>
     <td>{{p.author}} @ {{p.date}}
     </td>
     </tr>
{{/each}}
</tbody>
</table>