{{#each char.fs3.damage as |damage|}}


<div class="fs3-damage-block">
  
  <div class="row">
    <div class="col col-xs-12 col-sm-4">  <div class="fs3-damage-title">{{damage.description}}</div> </div>
    <div class="col col-xs-12 col-sm-4">{{damage.date}}</div>
    <div class="col col-xs-12 col-sm-4"><AnsiFormat @text={{damage.original_severity}} /> (now <AnsiFormat @text={{damage.severity}} />)</div>
  </div>
</div>
{{/each}}
