<div class="row fs3-attr-abilitybox"> 
  <div class="col col-sm-7">
    {{yield}}
  </div>

  <div class="col col-sm-5">
    <div class="fs3-attr-rating-control">
      <div class="fs3-attr-rating-display">
        <Fs3Dots @rating={{this.rating}} @max={{4}} />
      </div>
    </div>
  </div>
</div>

