<table class="table">
    <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Original Severity</th>
        <th>Current Severity</th>
    </thead>
    
      {{#each char.fs3.damage as |damage|}}
      <tr>
          <td>{{damage.date}}</td>
          <td>{{damage.description}}</td>
          <td><AnsiFormat @text={{damage.original_severity}} /></td>
          <td><AnsiFormat @text={{damage.severity}} /></td>
       </tr>
      {{/each}}
</table>
