<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

   
     <ul class="nav navbar-nav navbar-right">
                  
            <li>{{#link-to "play"}}Play{{/link-to}}</li>
            <li>{{#link-to "who"}}Who's Online{{/link-to}}</li>
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Scenes <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "scenes"}}Scenes{{/link-to}}</li>
                      </ul>
                    </li>
            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Directory <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "characters"}}Characters{{/link-to}}</li>
                        <li>{{#link-to "players"}}Players{{/link-to}}</li>
                        <li>{{#link-to "locations"}}Locations{{/link-to}}</li>
                        <li>{{#link-to "events"}}Events{{/link-to}}</li>
                        <li>{{#link-to "forum"}}Forums{{/link-to}}</li>
                        <li>{{#link-to "census"}}Census{{/link-to}}</li>
                        <li>{{#link-to "actors"}}Actors{{/link-to}}</li>
                        <li role="separator" class="divider"></li>
                        <li><b>FS3</b></li>
                        <li>{{#link-to "fs3-skills"}}Skills{{/link-to}}</li>
                        <li>{{#link-to "fs3-gear"}}Gear{{/link-to}}</li>
                      </ul>
                    </li>
                    
                    
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Wiki <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "wiki.page" "home"}}Home{{/link-to}}</li>
                        <li>{{#link-to "wiki.all"}}All Pages{{/link-to}}</li>
                        <li>{{#link-to "wiki.tags"}}Tags{{/link-to}}</li>
                      </ul>
                    </li>

            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Help <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "help"}}Help{{/link-to}}</li>
                        <li>{{#link-to "admin"}}Admin{{/link-to}}</li>
                      </ul>
                    </li>
            
            
         </ul>
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>