<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

   
     <ul class="nav navbar-nav navbar-right">
                  
            <li>{{#link-to 'home'}}Home{{/link-to}}</li>
                  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
              Play <span class="caret"></span></a>
              <ul class="dropdown-menu">
              
                <li>{{#link-to "who"}}Who's Online{{/link-to}}</li>
                <li>{{#link-to "play"}}Play on the Web{{/link-to}}</li>
              
              </ul>
            </li>
                                
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
              Story <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to "scenes"}}Scenes{{/link-to}}</li>
                <li>{{#link-to "plots"}}Plots{{/link-to}}</li>
              </ul>
            </li>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
              Directory <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to "characters"}}Characters{{/link-to}}</li>
                <li>Roster</li>
                <li>{{#link-to "actors"}}Actors{{/link-to}}</li>                
                <li>{{#link-to "census"}}Census{{/link-to}}</li>
                <li>{{#link-to "players"}}Players{{/link-to}}</li>
                <li><hr></li>
                <li>{{#link-to "scenes"}}Scenes{{/link-to}}</li>
                <li>{{#link-to "plots"}}Plots{{/link-to}}</li>
                <li>{{#link-to "locations"}}Locations{{/link-to}}</li>
                <li><hr></li>                
                <li>{{#link-to "forum"}}Forums{{/link-to}}</li>
                {{#if (not model.game.disabled_plugins.events)}}
                    <li>{{#link-to "events"}}Events{{/link-to}}</li>
                {{/if}}
                
              </ul>
            </li>
                    
            {{#if (not model.game.disabled_plugins.fs3skills)}}
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      FS3 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "fs3skills.abilities"}}Abilities List{{/link-to}}</li>
                
                        {{#if (not model.game.disabled_plugins.fs3combat)}}
                        <li>{{#link-to 'fs3combat.gear'}}Gear List{{/link-to}}</li>
                        {{/if}}
                        
                        <li><hr></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3" target="_blank">Player's Guide <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3/roll-quickref" target="_blank">Rolls Quick Reference <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        {{#if (not model.game.disabled_plugins.fs3combat)}}
                        <li><a href="http://aresmush.com/fs3/fs3-3/combat-quickref" target="_blank">Combat Quick Reference <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3/combat-walkthrough" target="_blank">Interactive Combat Walkthrough <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        {{/if}}
                      </ul>
            </li>
            {{/if}}
                    
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Wiki <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "wiki.page" "home"}}Home{{/link-to}}</li>
                        <li>{{#link-to "wiki.all"}}All Pages{{/link-to}}</li>
                        <li>{{#link-to "wiki.tags"}}Tags{{/link-to}}</li>
                      </ul>
                    </li>

            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Help <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "help"}}Help{{/link-to}}</li>
                        <li>{{#link-to "admin"}}Admin{{/link-to}}</li>
                      </ul>
                    </li>
            
            
         </ul>
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>