<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

     <ul class="nav navbar-nav navbar-right">



        {{#if isAuthenticated}}

          <li class="dropdown  hidden-xl  hidden-lg  hidden-md">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              Welcome {{currentUser.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to 'char' currentUser.id}}Profile{{/link-to}}</li>
              <li>{{#link-to 'mail'}}Mail{{/link-to}}</li>
              <li>{{#link-to 'jobs'}}{{#if model.jobs_admin}}Jobs{{else}}Requests{{/if}}{{/link-to}}</li>
              <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
            </ul>
          </li>
          {{else}}
              <li class="hidden-xl  hidden-lg  hidden-md">{{#link-to 'login' (query-params redirect=currentRoute)}}Login{{/link-to}}</li>
          {{/if}}


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              About Us <span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a href="/wiki/about_us">About Spirit Lake</a></li>
                <li><a href="/wiki/world_intro">World Intro</a></li>
                <li><a href="/wiki/policies">Policies</a></li>
                <li><a href="/wiki/join_us">Join Us</a></li>
                <li><a href="/wiki/staff">Staff Team</a></li>

              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              Play <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to "chargen"}}Create a Character{{/link-to}}</li>
                {{#if model.game.roster_enabled}}
                <li>{{#link-to "roster"}}Pre-Made Characters{{/link-to}}</li>
                {{/if}}
                <li><hr></li>
                <li>{{#link-to "play"}}Play via Web Client{{/link-to}}</li>
                <li>{{#link-to "scenes-live"}}Active Scenes{{/link-to}}</li>
                <li>{{#link-to "scene-create"}}Start New Scene{{/link-to}}</li>
                {{#if (not model.game.disabled_plugins.fs3combat)}}
                <li>{{#link-to "combats"}}Combats{{/link-to}}</li>
                {{/if}}
              </ul>
            </li>

            {{#each topNavbar as |section|}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Game<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/wiki/getting_started">Getting Started</a></li>
                <li><a href="/wiki/tag/guide">Guides</a></li>
                <li>{{#link-to "help"}}Help{{/link-to}}</li>
                <li><hr></li>
                <li>{{#link-to "chat"}}Chat{{/link-to}}</li>
                <li>{{#link-to "forum"}}Forum{{/link-to}}</li>
                {{#if (not model.game.disabled_plugins.events)}}
                    <li>{{#link-to "events"}}Events{{/link-to}}</li>
                {{/if}}
                <li>{{#link-to 'jobs'}}Requests{{/link-to}}</li>
                <li>{{#link-to "who"}}Who's Online{{/link-to}}</li>
              </ul>
            </li>

            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      World <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/wiki/grand_lake">Grand Lake</a></li>
                        <li><a href="/wiki/magic">Magic</a></li>
                        <li><a href="/wiki/schools">Schools</a></li>
                        <li><a href="/wiki/magical_items">Magical Items</a></li>
                        <li><a href="/wiki/magical_orders">Magical Orders</a></li>
                        <li><a href="/wiki/portals">Portals</a></li>
                        <li><a href="/wiki/creatures">Creatures</a></li>
                        <li><a href="/wiki/familiars">Familiars</a></li>
                      </ul>
              </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              Story <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to "characters"}}Characters{{/link-to}}</li>
                <li>{{#link-to "scenes"}}Scenes & Journals{{/link-to}}</li>
                <li>{{#link-to "plots"}}Plots{{/link-to}}</li>
                <li><a href="/wiki/underlibrary">The Under-Library</a></li>
                <li><a href="/wiki/hooks__amp__hopes">Hooks & Hopes</a></li>
                <li><a href="/wiki/player_run_plots">Player Run Plots</a></li>

              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              Directory <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to "characters"}}Characters{{/link-to}}</li>
                <li>{{#link-to "players"}}Players{{/link-to}}</li>
                <li>{{#link-to "census"}}Census{{/link-to}}</li>
                <li>{{#link-to "actors"}}Actors{{/link-to}}</li>
                <li>{{#link-to "locations"}}Locations{{/link-to}}</li>
                <li><hr></li>
                <li>{{#link-to "files"}}Files{{/link-to}}</li>
              </ul>
            </li>

            {{#if (not model.game.disabled_plugins.fs3skills)}}
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      System <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/wiki/combat_guide">Combat Guide</a></li>
                        <li><a href="/wiki/combat_org_guide">Combat Organizer's Guide</a></li>
                        <li><a href="/wiki/magic_system">Magic System</a></li>
                        <li><a href="https://fusiontables.google.com/data?docid=1K6_WIYp0Lwxuz72CkSulilrAXE1eHWsXxlNVnDz6#card:id=2">Spell Database</a></li>
                        <li><a href="/wiki/luck_points">Luck Points</a></li>
                        <li><a href="/wiki/xp">XP</a></li>
                        <li>{{#link-to 'fs3skills-abilities'}}Abilities List{{/link-to}}</li>
                        {{#if (not model.game.disabled_plugins.fs3combat)}}
                        <li>{{#link-to 'fs3combat-gear'}}Gear List{{/link-to}}</li>
                        {{/if}}
                        <li><hr></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3" target="_blank">Player's Guide <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3/roll-quickref" target="_blank">Rolls Quick Reference <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></li>
                        {{#if (not model.game.disabled_plugins.fs3combat)}}
                        <li><a href="http://aresmush.com/fs3/fs3-3/combat-quickref" target="_blank">Combat Quick Reference <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></li>
                        <li><a href="http://aresmush.com/fs3/fs3-3/combat-walkthrough" target="_blank">Interactive Combat Walkthrough <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></li>
                        {{/if}}
                      </ul>
            </li>
            {{/if}}


            {{#if (or isAdmin isCoder)}}

                   <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                             Admin <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li>{{#link-to 'jobs'}}Jobs{{/link-to}}</li>
                               <li>{{#link-to 'setup'}}Setup{{/link-to}}</li>
                               <li>{{#link-to 'manage'}}Manage{{/link-to}}</li>
                               <li>{{#link-to 'logs'}}Logs{{/link-to}}</li>
                               <li>{{#link-to "files"}}Files{{/link-to}}</li>

                               {{#if isCoder}}
                               <li>{{#link-to 'tinker'}}Tinker{{/link-to}}</li>
                               {{/if}}
                             </ul>
                           </li>



            {{/if}}

           </ul>


   </div><!--/.navbar-collapse -->



</nav>
