<div class="scene-pose-order">
<label>Pose Order:</label> {{#each poseOrder as |po|}}
{{#if (eq po.name playerName)}}
  <span class="your-pose-order">{{po.name}}</span>
{{else}}
  {{po.name}}
{{/if}}
<span class="hint">{{po.timeString}}</span>
{{/each}}
</div> 
