<div class="panel panel-default">

{{#if char.profile_gallery}}
    {{#each char.profile_gallery as |gallery|}}
        <LinkTo @route="file" @models={{array gallery.folder gallery.name}}>
        <img src="/game/uploads/{{gallery.path}}" class="profile-gallery" alt="{{gallery.name}}" >
        </LinkTo>
    {{/each}}
{{/if}}
<div class="clearfix"></div>
</div>
