
{{#if char.spells}}
<div id="systemspells" class="tab-pane fade">
  <CharSpells @char={{char}} />
</div>
{{/if}}

{{#if char.spells}}
<div id="systemspellcards" class="tab-pane fade">
  <CharSpellCards @char={{char}} />
</div>
{{/if}}

{{#if char.magic_items}}
<div id="systemitems" class="tab-pane fade">
  <CharMagicItems @char={{char}} />
</div>
{{/if}}
