{{#if char.spells}}
    <li><a data-toggle="tab" href="#systemspells">Spells</a></li>
{{/if}}

{{#if char.spells}}
    <li><a data-toggle="tab" href="#systemspellcards">Spells Cards</a></li>
{{/if}}

{{#if char.magic_items}}
    <li><a data-toggle="tab" href="#systemitems">Magic Items</a></li>
{{/if}}
