{{#if this.char.custom.mythic}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemmythic">Mythic</a></li>
{{/if}}

{{#if this.char.custom.spells}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemspells">Spells</a></li>
{{/if}}

{{#if this.char.custom.spells}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemspellcards">Spells Cards</a></li>
{{/if}}

{{#if this.char.custom.magic_items}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemitems">Magic Items</a></li>
{{/if}}
