{{#if char.custom.spells}}
    <li><a data-bs-toggle="tab" href="#systemspells">Spells</a></li>
{{/if}}


{{#if char.custom.spells}}
    <li><a data-bs-toggle="tab" href="#systemspellcards">Spells Cards</a></li>
{{/if}}

{{#if char.custom.magic_items}}
    <li><a data-bs-toggle="tab" href="#systemitems">Magic Items</a></li>
{{/if}}
