<div class="panel panel-default">

{{#if char.profile_gallery}}
    {{#each char.profile_gallery as |gallery|}}
        {{#link-to 'file' gallery.folder gallery.name}}
        <img src="/game/uploads/{{gallery.path}}" class="profile-gallery" alt="{{gallery.name}}" >
        {{/link-to}}
    {{/each}}
{{/if}}
<div class="clearfix"></div>
</div>
