{{#if this.char.custom.spells}}
  <div id="systemspells" class="tab-pane fade">
    <CharSpells @char={{this.char}} />
  </div>
{{/if}}


{{#if this.char.custom.spells}}
<div id="systemspellcards" class="tab-pane fade">
  <CharSpellCards @char={{this.char}} />
</div>
{{/if}}

{{#if this.char.custom.magic_items}}
<div id="systemitems" class="tab-pane fade">
  <CharMagicItems @char={{this.char}} />
</div>
{{/if}}
