<div class="sidebar-box {{boxStyle}}">

    <p style="padding-top:5px;">{{input type="text" size=20 id="search" enter="search" value=searchTerm}}</p>
    <button class="btn btn-default" {{action "search"}}>Search</button>
    <p><a href="/wiki/create">New</a> &middot; <a href="/wiki/all">All</a> &middot; <a href="/wiki/tags">Tags</a> &middot; <a href="/wiki/recent-changes">Recent</a></p>

</div>
