<p>
  Search: 
  {{#link-to 'search-wiki'}}Wiki{{/link-to}} |
  {{#link-to 'search-spells'}}Spells{{/link-to}} |
  {{#link-to 'search-help'}}Help{{/link-to}} |
  {{#link-to 'search-chars'}}Characters{{/link-to}} |
  {{#link-to 'search-locations'}}Locations{{/link-to}} |
  {{#link-to 'search-scenes'}}Scenes{{/link-to}} |
  {{#link-to 'search-forum'}}Forum{{/link-to}} |
  {{#link-to 'search-jobs'}}Jobs/Requests{{/link-to}}
</p>
