<p>
  {{#link-to 'search-wiki'}}Search Wiki{{/link-to}} |
  {{#link-to 'search-help'}}Search Help{{/link-to}} |
  {{#link-to 'search-chars'}}Search Characters{{/link-to}} |
  {{#link-to 'search-scenes'}}Search Scenes{{/link-to}} |
  {{#link-to 'search-forum'}}Search Forum{{/link-to}} |
  {{#link-to 'search-jobs'}}Search Jobs/Requests{{/link-to}}
</p>
