<div class="search-bar">
  
    <p>{{input type="text" size=25 id="search" enter="search" value=searchTerm}}</p>
    <button class="btn btn-default" {{action "search"}}>Search</button>
    
</div>
    
