<div class="search-bar">
    <p>{{input type="text" size=25 id="search" enter="search" value=searchTerm}}
    <button class="btn btn-default" {{action "search"}}>Search</button></p>
    <p><center><a href="/wiki/create">New</a> &middot; <a href="/wiki/all">All</a> &middot; <a href="/wiki/tags">Tags</a> &middot; <a href="/wiki/recent-changes">Recent</a> &middot; <a href="/files">Files </a> &middot; <a href="/help/markdown">Help</a></center></p>
</div>
