<div class="sheet_table">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>Spells</h1>
      {{#each char.spells as |spell|}}
      <div class="row">
          <div class="col-sm-3">
                  <b>{{spell.name}}</b>
          </div>
          <div class="col-sm-9">
                  {{spell.level}}
          </div>
      </div>
      {{/each}}
  </div>
</div>
