// This file allows you to override variables from Bootstrap and Ember addons.  For example:
//$ember-power-select-text-color: white;
//$state-info-bg:  yellow;
$ember-power-select-background-color: #333;
$ember-power-select-highlighted-background: #999;
$button-color: black;
$button-background-color: darkgray;
