.ansi-black-fg { color: #3A3A3A; }
.ansi-red-fg { color: #DD948E; }
.ansi-green-fg { color: #B6D1AA; }
.ansi-yellow-fg { color: #F3D57C; }
.ansi-blue-fg { color: #8AA9D5; }
.ansi-magenta-fg { color: #CBAFD5; }
.ansi-cyan-fg { color: #9AD1D4; }
.ansi-white-fg { color: #EFEFEF; }
.ansi-bright-black-fg { color: #5E5D5E; }
.ansi-bright-red-fg { color: #E69B94; }
.ansi-bright-green-fg { color: #D1F0C3; }
.ansi-bright-yellow-fg { color: #F4D799; }
.ansi-bright-blue-fg { color: #A6CBFE; }
.ansi-bright-magenta-fg { color: #E7C7F2; }
.ansi-bright-cyan-fg { color: #B0F0F5; }
.ansi-bright-white-fg { color: #FFF; }

.ansi-black-bg { background-color: #3A3A3A; }
.ansi-red-bg { background-color: #DD948E; }
.ansi-green-bg { background-color: #B6D1AA; }
.ansi-yellow-bg { background-color: #F3D57C; }
.ansi-blue-bg { background-color: #8AA9D5; }
.ansi-magenta-bg { background-color: #CBAFD5; }
.ansi-cyan-bg { background-color: #9AD1D4; }
.ansi-white-bg { background-color: #EFEFEF; }
.ansi-bright-black-bg { background-color: #5E5D5E; }
.ansi-bright-red-bg { background-color: #E69B94; }
.ansi-bright-green-bg { background-color: #D1F0C3; }
.ansi-bright-yellow-bg { background-color: #F4D799; }
.ansi-bright-blue-bg { background-color: #A6CBFE; }
.ansi-bright-magenta-bg { background-color: #E7C7F2; }
.ansi-bright-cyan-bg { background-color: #B0F0F5; }
.ansi-bright-white-bg { background-color: #FFF; }


.ansi-palette-1-fg {
    color: #bb0000;
}

.ansi-palette-1-bg {
    background-color: #bb0000;
}

.ansi-palette-2-fg {
    color: #00bb00;
}

.ansi-palette-2-bg {
    background-color: #00bb00;
}

.ansi-palette-3-fg {
    color: #bbbb00;
}

.ansi-palette-3-bg {
    background-color: #bbbb00;
}

.ansi-palette-4-fg {
    color: #0000bb;
}

.ansi-palette-4-bg {
    background-color: #0000bb;
}

.ansi-palette-5-fg {
    color: #bb00bb;
}

.ansi-palette-5-bg {
    background-color: #bb00bb;
}

.ansi-palette-6-fg {
    color: #00bbbb;
}

.ansi-palette-6-bg {
    background-color: #00bbbb;
}

.ansi-palette-7-fg {
    color: #ffffff;
}

.ansi-palette-7-bg {
    background-color: #ffffff;
}

.ansi-palette-8-fg {
    color: #555555;
}

.ansi-palette-8-bg {
    background-color: #555555;
}

.ansi-palette-9-fg {
    color: #ff5555;
}

.ansi-palette-9-bg {
    background-color: #ff5555;
}

.ansi-palette-10-fg {
    color: #00ff00;
}

.ansi-palette-10-bg {
    background-color: #00ff00;
}

.ansi-palette-11-fg {
    color: #ffff55;
}

.ansi-palette-11-bg {
    background-color: #ffff55;
}

.ansi-palette-12-fg {
    color: #5555ff;
}

.ansi-palette-12-bg {
    background-color: #5555ff;
}

.ansi-palette-13-fg {
    color: #ff55ff;
}

.ansi-palette-13-bg {
    background-color: #ff55ff;
}

.ansi-palette-14-fg {
    color: #55ffff;
}

.ansi-palette-14-bg {
    background-color: #55ffff;
}

.ansi-palette-15-fg {
    color: #ffffff;
}

.ansi-palette-15-bg {
    background-color: #ffffff;
}

.ansi-palette-16-fg {
    color: #000000;
}

.ansi-palette-16-bg {
    background-color: #000000;
}

.ansi-palette-17-fg {
    color: #00005f;
}

.ansi-palette-17-bg {
    background-color: #00005f;
}

.ansi-palette-18-fg {
    color: #000087;
}

.ansi-palette-18-bg {
    background-color: #000087;
}

.ansi-palette-19-fg {
    color: #0000af;
}

.ansi-palette-19-bg {
    background-color: #0000af;
}

.ansi-palette-20-fg {
    color: #0000d7;
}

.ansi-palette-20-bg {
    background-color: #0000d7;
}

.ansi-palette-21-fg {
    color: #0000ff;
}

.ansi-palette-21-bg {
    background-color: #0000ff;
}

.ansi-palette-22-fg {
    color: #005f00;
}

.ansi-palette-22-bg {
    background-color: #005f00;
}

.ansi-palette-23-fg {
    color: #005f5f;
}

.ansi-palette-23-bg {
    background-color: #005f5f;
}

.ansi-palette-24-fg {
    color: #005f87;
}

.ansi-palette-24-bg {
    background-color: #005f87;
}

.ansi-palette-25-fg {
    color: #005faf;
}

.ansi-palette-25-bg {
    background-color: #005faf;
}

.ansi-palette-26-fg {
    color: #005fd7;
}

.ansi-palette-26-bg {
    background-color: #005fd7;
}

.ansi-palette-27-fg {
    color: #005fff;
}

.ansi-palette-27-bg {
    background-color: #005fff;
}

.ansi-palette-28-fg {
    color: #008700;
}

.ansi-palette-28-bg {
    background-color: #008700;
}

.ansi-palette-29-fg {
    color: #00875f;
}

.ansi-palette-29-bg {
    background-color: #00875f;
}

.ansi-palette-30-fg {
    color: #008787;
}

.ansi-palette-30-bg {
    background-color: #008787;
}

.ansi-palette-31-fg {
    color: #0087af;
}

.ansi-palette-31-bg {
    background-color: #0087af;
}

.ansi-palette-32-fg {
    color: #0087d7;
}

.ansi-palette-32-bg {
    background-color: #0087d7;
}

.ansi-palette-33-fg {
    color: #0087ff;
}

.ansi-palette-33-bg {
    background-color: #0087ff;
}

.ansi-palette-34-fg {
    color: #00af00;
}

.ansi-palette-34-bg {
    background-color: #00af00;
}

.ansi-palette-35-fg {
    color: #00af5f;
}

.ansi-palette-35-bg {
    background-color: #00af5f;
}

.ansi-palette-36-fg {
    color: #00af87;
}

.ansi-palette-36-bg {
    background-color: #00af87;
}

.ansi-palette-37-fg {
    color: #00afaf;
}

.ansi-palette-37-bg {
    background-color: #00afaf;
}

.ansi-palette-38-fg {
    color: #00afd7;
}

.ansi-palette-38-bg {
    background-color: #00afd7;
}

.ansi-palette-39-fg {
    color: #00afff;
}

.ansi-palette-39-bg {
    background-color: #00afff;
}

.ansi-palette-40-fg {
    color: #00d700;
}

.ansi-palette-40-bg {
    background-color: #00d700;
}

.ansi-palette-41-fg {
    color: #00d75f;
}

.ansi-palette-41-bg {
    background-color: #00d75f;
}

.ansi-palette-42-fg {
    color: #00d787;
}

.ansi-palette-42-bg {
    background-color: #00d787;
}

.ansi-palette-43-fg {
    color: #00d7af;
}

.ansi-palette-43-bg {
    background-color: #00d7af;
}

.ansi-palette-44-fg {
    color: #00d7d7;
}

.ansi-palette-44-bg {
    background-color: #00d7d7;
}

.ansi-palette-45-fg {
    color: #00d7ff;
}

.ansi-palette-45-bg {
    background-color: #00d7ff;
}

.ansi-palette-46-fg {
    color: #00ff00;
}

.ansi-palette-46-bg {
    background-color: #00ff00;
}

.ansi-palette-47-fg {
    color: #00ff5f;
}

.ansi-palette-47-bg {
    background-color: #00ff5f;
}

.ansi-palette-48-fg {
    color: #00ff87;
}

.ansi-palette-48-bg {
    background-color: #00ff87;
}

.ansi-palette-49-fg {
    color: #00ffaf;
}

.ansi-palette-49-bg {
    background-color: #00ffaf;
}

.ansi-palette-50-fg {
    color: #00ffd7;
}

.ansi-palette-50-bg {
    background-color: #00ffd7;
}

.ansi-palette-51-fg {
    color: #00ffff;
}

.ansi-palette-51-bg {
    background-color: #00ffff;
}

.ansi-palette-52-fg {
    color: #5f0000;
}

.ansi-palette-52-bg {
    background-color: #5f0000;
}

.ansi-palette-53-fg {
    color: #5f005f;
}

.ansi-palette-53-bg {
    background-color: #5f005f;
}

.ansi-palette-54-fg {
    color: #5f0087;
}

.ansi-palette-54-bg {
    background-color: #5f0087;
}

.ansi-palette-55-fg {
    color: #5f00af;
}

.ansi-palette-55-bg {
    background-color: #5f00af;
}

.ansi-palette-56-fg {
    color: #5f00d7;
}

.ansi-palette-56-bg {
    background-color: #5f00d7;
}

.ansi-palette-57-fg {
    color: #5f00ff;
}

.ansi-palette-57-bg {
    background-color: #5f00ff;
}

.ansi-palette-58-fg {
    color: #5f5f00;
}

.ansi-palette-58-bg {
    background-color: #5f5f00;
}

.ansi-palette-59-fg {
    color: #5f5f5f;
}

.ansi-palette-59-bg {
    background-color: #5f5f5f;
}

.ansi-palette-60-fg {
    color: #5f5f87;
}

.ansi-palette-60-bg {
    background-color: #5f5f87;
}

.ansi-palette-61-fg {
    color: #5f5faf;
}

.ansi-palette-61-bg {
    background-color: #5f5faf;
}

.ansi-palette-62-fg {
    color: #5f5fd7;
}

.ansi-palette-62-bg {
    background-color: #5f5fd7;
}

.ansi-palette-63-fg {
    color: #5f5fff;
}

.ansi-palette-63-bg {
    background-color: #5f5fff;
}

.ansi-palette-64-fg {
    color: #5f8700;
}

.ansi-palette-64-bg {
    background-color: #5f8700;
}

.ansi-palette-65-fg {
    color: #5f875f;
}

.ansi-palette-65-bg {
    background-color: #5f875f;
}

.ansi-palette-66-fg {
    color: #5f8787;
}

.ansi-palette-66-bg {
    background-color: #5f8787;
}

.ansi-palette-67-fg {
    color: #5f87af;
}

.ansi-palette-67-bg {
    background-color: #5f87af;
}

.ansi-palette-68-fg {
    color: #5f87d7;
}

.ansi-palette-68-bg {
    background-color: #5f87d7;
}

.ansi-palette-69-fg {
    color: #5f87ff;
}

.ansi-palette-69-bg {
    background-color: #5f87ff;
}

.ansi-palette-70-fg {
    color: #5faf00;
}

.ansi-palette-70-bg {
    background-color: #5faf00;
}

.ansi-palette-71-fg {
    color: #5faf5f;
}

.ansi-palette-71-bg {
    background-color: #5faf5f;
}

.ansi-palette-72-fg {
    color: #5faf87;
}

.ansi-palette-72-bg {
    background-color: #5faf87;
}

.ansi-palette-73-fg {
    color: #5fafaf;
}

.ansi-palette-73-bg {
    background-color: #5fafaf;
}

.ansi-palette-74-fg {
    color: #5fafd7;
}

.ansi-palette-74-bg {
    background-color: #5fafd7;
}

.ansi-palette-75-fg {
    color: #5fafff;
}

.ansi-palette-75-bg {
    background-color: #5fafff;
}

.ansi-palette-76-fg {
    color: #5fd700;
}

.ansi-palette-76-bg {
    background-color: #5fd700;
}

.ansi-palette-77-fg {
    color: #5fd75f;
}

.ansi-palette-77-bg {
    background-color: #5fd75f;
}

.ansi-palette-78-fg {
    color: #5fd787;
}

.ansi-palette-78-bg {
    background-color: #5fd787;
}

.ansi-palette-79-fg {
    color: #5fd7af;
}

.ansi-palette-79-bg {
    background-color: #5fd7af;
}

.ansi-palette-80-fg {
    color: #5fd7d7;
}

.ansi-palette-80-bg {
    background-color: #5fd7d7;
}

.ansi-palette-81-fg {
    color: #5fd7ff;
}

.ansi-palette-81-bg {
    background-color: #5fd7ff;
}

.ansi-palette-82-fg {
    color: #5fff00;
}

.ansi-palette-82-bg {
    background-color: #5fff00;
}

.ansi-palette-83-fg {
    color: #5fff5f;
}

.ansi-palette-83-bg {
    background-color: #5fff5f;
}

.ansi-palette-84-fg {
    color: #5fff87;
}

.ansi-palette-84-bg {
    background-color: #5fff87;
}

.ansi-palette-85-fg {
    color: #5fffaf;
}

.ansi-palette-85-bg {
    background-color: #5fffaf;
}

.ansi-palette-86-fg {
    color: #5fffd7;
}

.ansi-palette-86-bg {
    background-color: #5fffd7;
}

.ansi-palette-87-fg {
    color: #5fffff;
}

.ansi-palette-87-bg {
    background-color: #5fffff;
}

.ansi-palette-88-fg {
    color: #870000;
}

.ansi-palette-88-bg {
    background-color: #870000;
}

.ansi-palette-89-fg {
    color: #87005f;
}

.ansi-palette-89-bg {
    background-color: #87005f;
}

.ansi-palette-90-fg {
    color: #870087;
}

.ansi-palette-90-bg {
    background-color: #870087;
}

.ansi-palette-91-fg {
    color: #8700af;
}

.ansi-palette-91-bg {
    background-color: #8700af;
}

.ansi-palette-92-fg {
    color: #8700d7;
}

.ansi-palette-92-bg {
    background-color: #8700d7;
}

.ansi-palette-93-fg {
    color: #8700ff;
}

.ansi-palette-93-bg {
    background-color: #8700ff;
}

.ansi-palette-94-fg {
    color: #875f00;
}

.ansi-palette-94-bg {
    background-color: #875f00;
}

.ansi-palette-95-fg {
    color: #875f5f;
}

.ansi-palette-95-bg {
    background-color: #875f5f;
}

.ansi-palette-96-fg {
    color: #875f87;
}

.ansi-palette-96-bg {
    background-color: #875f87;
}

.ansi-palette-97-fg {
    color: #875faf;
}

.ansi-palette-97-bg {
    background-color: #875faf;
}

.ansi-palette-98-fg {
    color: #875fd7;
}

.ansi-palette-98-bg {
    background-color: #875fd7;
}

.ansi-palette-99-fg {
    color: #875fff;
}

.ansi-palette-99-bg {
    background-color: #875fff;
}

.ansi-palette-100-fg {
    color: #878700;
}

.ansi-palette-100-bg {
    background-color: #878700;
}

.ansi-palette-101-fg {
    color: #87875f;
}

.ansi-palette-101-bg {
    background-color: #87875f;
}

.ansi-palette-102-fg {
    color: #878787;
}

.ansi-palette-102-bg {
    background-color: #878787;
}

.ansi-palette-103-fg {
    color: #8787af;
}

.ansi-palette-103-bg {
    background-color: #8787af;
}

.ansi-palette-104-fg {
    color: #8787d7;
}

.ansi-palette-104-bg {
    background-color: #8787d7;
}

.ansi-palette-105-fg {
    color: #8787ff;
}

.ansi-palette-105-bg {
    background-color: #8787ff;
}

.ansi-palette-106-fg {
    color: #87af00;
}

.ansi-palette-106-bg {
    background-color: #87af00;
}

.ansi-palette-107-fg {
    color: #87af5f;
}

.ansi-palette-107-bg {
    background-color: #87af5f;
}

.ansi-palette-108-fg {
    color: #87af87;
}

.ansi-palette-108-bg {
    background-color: #87af87;
}

.ansi-palette-109-fg {
    color: #87afaf;
}

.ansi-palette-109-bg {
    background-color: #87afaf;
}

.ansi-palette-110-fg {
    color: #87afd7;
}

.ansi-palette-110-bg {
    background-color: #87afd7;
}

.ansi-palette-111-fg {
    color: #87afff;
}

.ansi-palette-111-bg {
    background-color: #87afff;
}

.ansi-palette-112-fg {
    color: #87d700;
}

.ansi-palette-112-bg {
    background-color: #87d700;
}

.ansi-palette-113-fg {
    color: #87d75f;
}

.ansi-palette-113-bg {
    background-color: #87d75f;
}

.ansi-palette-114-fg {
    color: #87d787;
}

.ansi-palette-114-bg {
    background-color: #87d787;
}

.ansi-palette-115-fg {
    color: #87d7af;
}

.ansi-palette-115-bg {
    background-color: #87d7af;
}

.ansi-palette-116-fg {
    color: #87d7d7;
}

.ansi-palette-116-bg {
    background-color: #87d7d7;
}

.ansi-palette-117-fg {
    color: #87d7ff;
}

.ansi-palette-117-bg {
    background-color: #87d7ff;
}

.ansi-palette-118-fg {
    color: #87ff00;
}

.ansi-palette-118-bg {
    background-color: #87ff00;
}

.ansi-palette-119-fg {
    color: #87ff5f;
}

.ansi-palette-119-bg {
    background-color: #87ff5f;
}

.ansi-palette-120-fg {
    color: #87ff87;
}

.ansi-palette-120-bg {
    background-color: #87ff87;
}

.ansi-palette-121-fg {
    color: #87ffaf;
}

.ansi-palette-121-bg {
    background-color: #87ffaf;
}

.ansi-palette-122-fg {
    color: #87ffd7;
}

.ansi-palette-122-bg {
    background-color: #87ffd7;
}

.ansi-palette-123-fg {
    color: #87ffff;
}

.ansi-palette-123-bg {
    background-color: #87ffff;
}

.ansi-palette-124-fg {
    color: #af0000;
}

.ansi-palette-124-bg {
    background-color: #af0000;
}

.ansi-palette-125-fg {
    color: #af005f;
}

.ansi-palette-125-bg {
    background-color: #af005f;
}

.ansi-palette-126-fg {
    color: #af0087;
}

.ansi-palette-126-bg {
    background-color: #af0087;
}

.ansi-palette-127-fg {
    color: #af00af;
}

.ansi-palette-127-bg {
    background-color: #af00af;
}

.ansi-palette-128-fg {
    color: #af00d7;
}

.ansi-palette-128-bg {
    background-color: #af00d7;
}

.ansi-palette-129-fg {
    color: #af00ff;
}

.ansi-palette-129-bg {
    background-color: #af00ff;
}

.ansi-palette-130-fg {
    color: #af5f00;
}

.ansi-palette-130-bg {
    background-color: #af5f00;
}

.ansi-palette-131-fg {
    color: #af5f5f;
}

.ansi-palette-131-bg {
    background-color: #af5f5f;
}

.ansi-palette-132-fg {
    color: #af5f87;
}

.ansi-palette-132-bg {
    background-color: #af5f87;
}

.ansi-palette-133-fg {
    color: #af5faf;
}

.ansi-palette-133-bg {
    background-color: #af5faf;
}

.ansi-palette-134-fg {
    color: #af5fd7;
}

.ansi-palette-134-bg {
    background-color: #af5fd7;
}

.ansi-palette-135-fg {
    color: #af5fff;
}

.ansi-palette-135-bg {
    background-color: #af5fff;
}

.ansi-palette-136-fg {
    color: #af8700;
}

.ansi-palette-136-bg {
    background-color: #af8700;
}

.ansi-palette-137-fg {
    color: #af875f;
}

.ansi-palette-137-bg {
    background-color: #af875f;
}

.ansi-palette-138-fg {
    color: #af8787;
}

.ansi-palette-138-bg {
    background-color: #af8787;
}

.ansi-palette-139-fg {
    color: #af87af;
}

.ansi-palette-139-bg {
    background-color: #af87af;
}

.ansi-palette-140-fg {
    color: #af87d7;
}

.ansi-palette-140-bg {
    background-color: #af87d7;
}

.ansi-palette-141-fg {
    color: #af87ff;
}

.ansi-palette-141-bg {
    background-color: #af87ff;
}

.ansi-palette-142-fg {
    color: #afaf00;
}

.ansi-palette-142-bg {
    background-color: #afaf00;
}

.ansi-palette-143-fg {
    color: #afaf5f;
}

.ansi-palette-143-bg {
    background-color: #afaf5f;
}

.ansi-palette-144-fg {
    color: #afaf87;
}

.ansi-palette-144-bg {
    background-color: #afaf87;
}

.ansi-palette-145-fg {
    color: #afafaf;
}

.ansi-palette-145-bg {
    background-color: #afafaf;
}

.ansi-palette-146-fg {
    color: #afafd7;
}

.ansi-palette-146-bg {
    background-color: #afafd7;
}

.ansi-palette-147-fg {
    color: #afafff;
}

.ansi-palette-147-bg {
    background-color: #afafff;
}

.ansi-palette-148-fg {
    color: #afd700;
}

.ansi-palette-148-bg {
    background-color: #afd700;
}

.ansi-palette-149-fg {
    color: #afd75f;
}

.ansi-palette-149-bg {
    background-color: #afd75f;
}

.ansi-palette-150-fg {
    color: #afd787;
}

.ansi-palette-150-bg {
    background-color: #afd787;
}

.ansi-palette-151-fg {
    color: #afd7af;
}

.ansi-palette-151-bg {
    background-color: #afd7af;
}

.ansi-palette-152-fg {
    color: #afd7d7;
}

.ansi-palette-152-bg {
    background-color: #afd7d7;
}

.ansi-palette-153-fg {
    color: #afd7ff;
}

.ansi-palette-153-bg {
    background-color: #afd7ff;
}

.ansi-palette-154-fg {
    color: #afff00;
}

.ansi-palette-154-bg {
    background-color: #afff00;
}

.ansi-palette-155-fg {
    color: #afff5f;
}

.ansi-palette-155-bg {
    background-color: #afff5f;
}

.ansi-palette-156-fg {
    color: #afff87;
}

.ansi-palette-156-bg {
    background-color: #afff87;
}

.ansi-palette-157-fg {
    color: #afffaf;
}

.ansi-palette-157-bg {
    background-color: #afffaf;
}

.ansi-palette-158-fg {
    color: #afffd7;
}

.ansi-palette-158-bg {
    background-color: #afffd7;
}

.ansi-palette-159-fg {
    color: #afffff;
}

.ansi-palette-159-bg {
    background-color: #afffff;
}

.ansi-palette-160-fg {
    color: #d70000;
}

.ansi-palette-160-bg {
    background-color: #d70000;
}

.ansi-palette-161-fg {
    color: #d7005f;
}

.ansi-palette-161-bg {
    background-color: #d7005f;
}

.ansi-palette-162-fg {
    color: #d70087;
}

.ansi-palette-162-bg {
    background-color: #d70087;
}

.ansi-palette-163-fg {
    color: #d700af;
}

.ansi-palette-163-bg {
    background-color: #d700af;
}

.ansi-palette-164-fg {
    color: #d700d7;
}

.ansi-palette-164-bg {
    background-color: #d700d7;
}

.ansi-palette-165-fg {
    color: #d700ff;
}

.ansi-palette-165-bg {
    background-color: #d700ff;
}

.ansi-palette-166-fg {
    color: #d75f00;
}

.ansi-palette-166-bg {
    background-color: #d75f00;
}

.ansi-palette-167-fg {
    color: #d75f5f;
}

.ansi-palette-167-bg {
    background-color: #d75f5f;
}

.ansi-palette-168-fg {
    color: #d75f87;
}

.ansi-palette-168-bg {
    background-color: #d75f87;
}

.ansi-palette-169-fg {
    color: #d75faf;
}

.ansi-palette-169-bg {
    background-color: #d75faf;
}

.ansi-palette-170-fg {
    color: #d75fd7;
}

.ansi-palette-170-bg {
    background-color: #d75fd7;
}

.ansi-palette-171-fg {
    color: #d75fff;
}

.ansi-palette-171-bg {
    background-color: #d75fff;
}

.ansi-palette-172-fg {
    color: #d78700;
}

.ansi-palette-172-bg {
    background-color: #d78700;
}

.ansi-palette-173-fg {
    color: #d7875f;
}

.ansi-palette-173-bg {
    background-color: #d7875f;
}

.ansi-palette-174-fg {
    color: #d78787;
}

.ansi-palette-174-bg {
    background-color: #d78787;
}

.ansi-palette-175-fg {
    color: #d787af;
}

.ansi-palette-175-bg {
    background-color: #d787af;
}

.ansi-palette-176-fg {
    color: #d787d7;
}

.ansi-palette-176-bg {
    background-color: #d787d7;
}

.ansi-palette-177-fg {
    color: #d787ff;
}

.ansi-palette-177-bg {
    background-color: #d787ff;
}

.ansi-palette-178-fg {
    color: #d7af00;
}

.ansi-palette-178-bg {
    background-color: #d7af00;
}

.ansi-palette-179-fg {
    color: #d7af5f;
}

.ansi-palette-179-bg {
    background-color: #d7af5f;
}

.ansi-palette-180-fg {
    color: #d7af87;
}

.ansi-palette-180-bg {
    background-color: #d7af87;
}

.ansi-palette-181-fg {
    color: #d7afaf;
}

.ansi-palette-181-bg {
    background-color: #d7afaf;
}

.ansi-palette-182-fg {
    color: #d7afd7;
}

.ansi-palette-182-bg {
    background-color: #d7afd7;
}

.ansi-palette-183-fg {
    color: #d7afff;
}

.ansi-palette-183-bg {
    background-color: #d7afff;
}

.ansi-palette-184-fg {
    color: #d7d700;
}

.ansi-palette-184-bg {
    background-color: #d7d700;
}

.ansi-palette-185-fg {
    color: #d7d75f;
}

.ansi-palette-185-bg {
    background-color: #d7d75f;
}

.ansi-palette-186-fg {
    color: #d7d787;
}

.ansi-palette-186-bg {
    background-color: #d7d787;
}

.ansi-palette-187-fg {
    color: #d7d7af;
}

.ansi-palette-187-bg {
    background-color: #d7d7af;
}

.ansi-palette-188-fg {
    color: #d7d7d7;
}

.ansi-palette-188-bg {
    background-color: #d7d7d7;
}

.ansi-palette-189-fg {
    color: #d7d7ff;
}

.ansi-palette-189-bg {
    background-color: #d7d7ff;
}

.ansi-palette-190-fg {
    color: #d7ff00;
}

.ansi-palette-190-bg {
    background-color: #d7ff00;
}

.ansi-palette-191-fg {
    color: #d7ff5f;
}

.ansi-palette-191-bg {
    background-color: #d7ff5f;
}

.ansi-palette-192-fg {
    color: #d7ff87;
}

.ansi-palette-192-bg {
    background-color: #d7ff87;
}

.ansi-palette-193-fg {
    color: #d7ffaf;
}

.ansi-palette-193-bg {
    background-color: #d7ffaf;
}

.ansi-palette-194-fg {
    color: #d7ffd7;
}

.ansi-palette-194-bg {
    background-color: #d7ffd7;
}

.ansi-palette-195-fg {
    color: #d7ffff;
}

.ansi-palette-195-bg {
    background-color: #d7ffff;
}

.ansi-palette-196-fg {
    color: #ff0000;
}

.ansi-palette-196-bg {
    background-color: #ff0000;
}

.ansi-palette-197-fg {
    color: #ff005f;
}

.ansi-palette-197-bg {
    background-color: #ff005f;
}

.ansi-palette-198-fg {
    color: #ff0087;
}

.ansi-palette-198-bg {
    background-color: #ff0087;
}

.ansi-palette-199-fg {
    color: #ff00af;
}

.ansi-palette-199-bg {
    background-color: #ff00af;
}

.ansi-palette-200-fg {
    color: #ff00d7;
}

.ansi-palette-200-bg {
    background-color: #ff00d7;
}

.ansi-palette-201-fg {
    color: #ff00ff;
}

.ansi-palette-201-bg {
    background-color: #ff00ff;
}

.ansi-palette-202-fg {
    color: #ff5f00;
}

.ansi-palette-202-bg {
    background-color: #ff5f00;
}

.ansi-palette-203-fg {
    color: #ff5f5f;
}

.ansi-palette-203-bg {
    background-color: #ff5f5f;
}

.ansi-palette-204-fg {
    color: #ff5f87;
}

.ansi-palette-204-bg {
    background-color: #ff5f87;
}

.ansi-palette-205-fg {
    color: #ff5faf;
}

.ansi-palette-205-bg {
    background-color: #ff5faf;
}

.ansi-palette-206-fg {
    color: #ff5fd7;
}

.ansi-palette-206-bg {
    background-color: #ff5fd7;
}

.ansi-palette-207-fg {
    color: #ff5fff;
}

.ansi-palette-207-bg {
    background-color: #ff5fff;
}

.ansi-palette-208-fg {
    color: #ff8700;
}

.ansi-palette-208-bg {
    background-color: #ff8700;
}

.ansi-palette-209-fg {
    color: #ff875f;
}

.ansi-palette-209-bg {
    background-color: #ff875f;
}

.ansi-palette-210-fg {
    color: #ff8787;
}

.ansi-palette-210-bg {
    background-color: #ff8787;
}

.ansi-palette-211-fg {
    color: #ff87af;
}

.ansi-palette-211-bg {
    background-color: #ff87af;
}

.ansi-palette-212-fg {
    color: #ff87d7;
}

.ansi-palette-212-bg {
    background-color: #ff87d7;
}

.ansi-palette-213-fg {
    color: #ff87ff;
}

.ansi-palette-213-bg {
    background-color: #ff87ff;
}

.ansi-palette-214-fg {
    color: #ffaf00;
}

.ansi-palette-214-bg {
    background-color: #ffaf00;
}

.ansi-palette-215-fg {
    color: #ffaf5f;
}

.ansi-palette-215-bg {
    background-color: #ffaf5f;
}

.ansi-palette-216-fg {
    color: #ffaf87;
}

.ansi-palette-216-bg {
    background-color: #ffaf87;
}

.ansi-palette-217-fg {
    color: #ffafaf;
}

.ansi-palette-217-bg {
    background-color: #ffafaf;
}

.ansi-palette-218-fg {
    color: #ffafd7;
}

.ansi-palette-218-bg {
    background-color: #ffafd7;
}

.ansi-palette-219-fg {
    color: #ffafff;
}

.ansi-palette-219-bg {
    background-color: #ffafff;
}

.ansi-palette-220-fg {
    color: #ffd700;
}

.ansi-palette-220-bg {
    background-color: #ffd700;
}

.ansi-palette-221-fg {
    color: #ffd75f;
}

.ansi-palette-221-bg {
    background-color: #ffd75f;
}

.ansi-palette-222-fg {
    color: #ffd787;
}

.ansi-palette-222-bg {
    background-color: #ffd787;
}

.ansi-palette-223-fg {
    color: #ffd7af;
}

.ansi-palette-223-bg {
    background-color: #ffd7af;
}

.ansi-palette-224-fg {
    color: #ffd7d7;
}

.ansi-palette-224-bg {
    background-color: #ffd7d7;
}

.ansi-palette-225-fg {
    color: #ffd7ff;
}

.ansi-palette-225-bg {
    background-color: #ffd7ff;
}

.ansi-palette-226-fg {
    color: #ffff00;
}

.ansi-palette-226-bg {
    background-color: #ffff00;
}

.ansi-palette-227-fg {
    color: #ffff5f;
}

.ansi-palette-227-bg {
    background-color: #ffff5f;
}

.ansi-palette-228-fg {
    color: #ffff87;
}

.ansi-palette-228-bg {
    background-color: #ffff87;
}

.ansi-palette-229-fg {
    color: #ffffaf;
}

.ansi-palette-229-bg {
    background-color: #ffffaf;
}

.ansi-palette-230-fg {
    color: #ffffd7;
}

.ansi-palette-230-bg {
    background-color: #ffffd7;
}

.ansi-palette-231-fg {
    color: #ffffff;
}

.ansi-palette-231-bg {
    background-color: #ffffff;
}

.ansi-palette-232-fg {
    color: #080808;
}

.ansi-palette-232-bg {
    background-color: #080808;
}

.ansi-palette-233-fg {
    color: #121212;
}

.ansi-palette-233-bg {
    background-color: #121212;
}

.ansi-palette-234-fg {
    color: #1c1c1c;
}

.ansi-palette-234-bg {
    background-color: #1c1c1c;
}

.ansi-palette-235-fg {
    color: #262626;
}

.ansi-palette-235-bg {
    background-color: #262626;
}

.ansi-palette-236-fg {
    color: #303030;
}

.ansi-palette-236-bg {
    background-color: #303030;
}

.ansi-palette-237-fg {
    color: #3a3a3a;
}

.ansi-palette-237-bg {
    background-color: #3a3a3a;
}

.ansi-palette-238-fg {
    color: #444444;
}

.ansi-palette-238-bg {
    background-color: #444444;
}

.ansi-palette-239-fg {
    color: #4e4e4e;
}

.ansi-palette-239-bg {
    background-color: #4e4e4e;
}

.ansi-palette-240-fg {
    color: #585858;
}

.ansi-palette-240-bg {
    background-color: #585858;
}

.ansi-palette-241-fg {
    color: #626262;
}

.ansi-palette-241-bg {
    background-color: #626262;
}

.ansi-palette-242-fg {
    color: #6c6c6c;
}

.ansi-palette-242-bg {
    background-color: #6c6c6c;
}

.ansi-palette-243-fg {
    color: #767676;
}

.ansi-palette-243-bg {
    background-color: #767676;
}

.ansi-palette-244-fg {
    color: #808080;
}

.ansi-palette-244-bg {
    background-color: #808080;
}

.ansi-palette-245-fg {
    color: #8a8a8a;
}

.ansi-palette-245-bg {
    background-color: #8a8a8a;
}

.ansi-palette-246-fg {
    color: #949494;
}

.ansi-palette-246-bg {
    background-color: #949494;
}

.ansi-palette-247-fg {
    color: #9e9e9e;
}

.ansi-palette-247-bg {
    background-color: #9e9e9e;
}

.ansi-palette-248-fg {
    color: #a8a8a8;
}

.ansi-palette-248-bg {
    background-color: #a8a8a8;
}

.ansi-palette-249-fg {
    color: #b2b2b2;
}

.ansi-palette-249-bg {
    background-color: #b2b2b2;
}

.ansi-palette-250-fg {
    color: #bcbcbc;
}

.ansi-palette-250-bg {
    background-color: #bcbcbc;
}

.ansi-palette-251-fg {
    color: #c6c6c6;
}

.ansi-palette-251-bg {
    background-color: #c6c6c6;
}

.ansi-palette-252-fg {
    color: #d0d0d0;
}

.ansi-palette-252-bg {
    background-color: #d0d0d0;
}

.ansi-palette-253-fg {
    color: #dadada;
}

.ansi-palette-253-bg {
    background-color: #dadada;
}

.ansi-palette-254-fg {
    color: #e4e4e4;
}

.ansi-palette-254-bg {
    background-color: #e4e4e4;
}

.ansi-palette-255-fg {
    color: #eeeeee;
}

.ansi-palette-255-bg {
    background-color: #eeeeee;
}

.ansi-palette-256-fg {
    color: #f8f8f8;
}

.ansi-palette-256-bg {
    background-color: #f8f8f8;
}
