# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/declarations/
/dist/
/tmp/

# dependencies
/node_modules/

# misc
/coverage/
!.*

.eslintcache


# ember-try
/.node_modules.ember-try/
