{{#if (not this.game.disabled_plugins.fs3skills)}}
   {{#if this.char.fs3.show_sheet}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemfs3sheet">Sheet</a></li>
    {{/if}}
    {{#if this.char.fs3.xp}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemfs3xp">XP</a></li>
    {{/if}}
{{/if}}

{{#if (not this.game.disabled_plugins.fs3combat)}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemfs3damage">Damage</a></li>
{{/if}}
