<h1>{{model.heading}}</h1>

<div class="ansi">
{{{model.html}}}
</div>

<hr/>

<b>Tags:</b>  
    {{#each model.tags as |tag|}}
    {{#link-to 'wiki.tag' tag}}{{tag}}{{/link-to}}
    {{/each}}


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
        </div>
  </div>
</div>

{{outlet}}