{{page-title 'Error'}}
<h1>Oops!</h1>

<p>Something went wrong with the website.  Not your fault!</p>

<p>This shouldn't happen, so please note the error message in red below and let the game admins know what happened.</p>

<div class="alert alert-danger">{{message}}</div>


<p>Use your browser's back button and try again.  Or go back to the <a href="/">home page</a>.</p>

<p>If the entire game is down, you can check the <a href="https://forum.aresmush.com">AresMUSH Forums</a> to check on the game status or report the problem.</p>

        <div class="jumbotron">
            <img src="/game/uploads/theme_images/facepalm.jpg" alt="Sad Picard" >
        </div>
        

{{outlet}}