{{title 'Error'}}
<h1>Oops!</h1>

<p>Something went wrong with the website.  Not your fault.</p>

<p>Please try again and contact the admin if you're still having problems.</p>

<p>If the entire game is down, you can check the <a href="https://forum.aresmush.com">AresMUSH Forums</a> to check on the game status or report the problem.</p>

<div class="alert alert-danger">{{message}}</div>


        <div class="jumbotron">
            <img src="/game/uploads/theme_images/facepalm.jpg" />
        </div>
        

{{outlet}}