<h1>Oops!</h1>

<p>Something went wrong with the website.  Not your fault.</p>

<p>Please try again and contact the admin if you're still having problems.</p>

<div class="alert alert-danger">{{message}}</div>


        <div class="jumbotron">
            <img src="/uploads/theme_images/facepalm.jpg" />
        </div>
        

{{outlet}}