<h1>{{model.name}}</h1>

<div class="ansi">
    
<table class="table table-striped">
    

{{#each model.values as |value|}}
<tr>
    <td><b>{{value.title}}</b></td>
    <td>{{{ansi-format text=value.detail}}}</td>
</tr>
{{/each}}

</table>

</div>