{{title model.name}}
<div class="ansi" id="help">
    {{{ansi-format text=model.help}}}
</div>

<hr>
<p>{{#link-to 'help'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Help{{/link-to}}</p>
