<p>Log in using your character information.</p>

<div class="panel panel-default">
    <div class="panel-body">

        <p>{{input type="text" id="name" placeholder="Name" action="login" value=name autofocus=true }}</p>
        <p>{{input type="password" placeholder="Password" action="login" id="password" value=password }}</p>
        
        <button {{action "login"}} class="btn btn-primary">Login</button>
        
    
    
        <p>Don't have a character yet?  
            TODO enable web registration
                <a href="/register">Create one</a>.
            
               Create one from inside the game first.
            
        </p>
    </div>
</div>

{{outlet}}