{{title 'Portals'}}
<h1>Portals</h1>

<div class="pull-right">
  {{#link-to 'portal-create' class="btn btn-primary"}}Create Portal{{/link-to}}
</div>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Iw2hd57g__fAY9PugKUXtnTLRSiVzZ3B" width="100%" height="480"></iframe><br><br>

<div class="pull-right">
  {{#link-to 'portal-create' class="btn btn-primary"}}Create Portal{{/link-to}}
</div>

<div class="clearfix"/>

  <ul>
    {{#each model as |portal|}}
        <li>{{#link-to 'portal' portal.id}}{{portal.name}}{{/link-to}}</li>
    {{/each}}
  </ul>



{{outlet}}
