<h1>Oops!</h1>

<p>The code lost its mind while executing this request.  Not your fault!</p>
<p>Please let the admin know and mention what you were doing at the time.</p>

<div class="alert alert-danger">
{{message}}
</div>


        <div class="jumbotron">
            <img src="/theme_images/facepalm.jpg" />
        </div>
        

{{outlet}}