{{title "Game Setup"}}
<h1>Game Setup</h1>

<p>Here you can edit your game's configuration files.</p>

<div class="alert alert-warning">This section contains advanced configuration options. Please read the <a href="http://aresmush.com/tutorials/config">AresMUSH.com tutorials</a> before attempting to configure your game here.</div>
   
<h2>Game Directory</h2>
<ul>
    <li>{{#link-to 'game-edit'}}Edit Basic Game Information{{/link-to}}</li>
    <li>{{#link-to 'setup-colors'}}Edit Theme Colors{{/link-to}}</li>
</ul>

<h2>Plugins</h2>
<ul>
    <li>{{#link-to 'plugins-edit'}}Enable or Disable Plugins{{/link-to}}</li>
</ul>

<h2>Config Files</h2>
<ul>
{{#each model.config as |file|}}
<li>{{#link-to 'config' file.name}}{{file.name}}{{/link-to}}</li>
{{/each}}
</ul>

<h2>Text Files</h2>
<ul>
{{#each model.textfiles as |file|}}
<li>{{#link-to 'textfile' file.file_type file.name}}{{file.name}}{{/link-to}}</li>
{{/each}}
</ul>

{{outlet}}