{{title "Game Setup"}}
<h1>Game Setup</h1>

<p>Here you can edit your game's configuration files.</p>

<div class="alert alert-info">You can find help for all the options in the <a href="http://aresmush.com/tutorials/config">Configuring AresMUSH</a> tutorial.</div>
   
<h2>Game Information</h2>
<ul>
    <li>{{#link-to 'game-edit'}}Game Directory Information{{/link-to}}</li>
    <li>{{#link-to 'textfile' 'text' 'connect.txt'}}Connect Screen{{/link-to}}</li>
    <li>{{#link-to 'textfile' 'text' 'tos.txt'}}Terms of Service{{/link-to}}</li>
</ul>

<h2>Website</h2>

<ul>
<li>{{#link-to 'setup-colors'}}Edit Theme Colors{{/link-to}}</li>
<li>{{#link-to 'textfile' 'text' 'website.txt'}}Home Page Text{{/link-to}}</li>
<li>{{#link-to 'files'}}Upload Files{{/link-to}} <span class="hint">(Theme images live in the theme_files folder.)</span></li>
<li>{{#link-to 'textfile' 'style' 'custom_style.scss'}}Custom CSS Style{{/link-to}}</li>
</ul>

<h2>Plugins</h2>
<ul>
    <li>{{#link-to 'plugins-edit'}}Enable or Disable Plugins{{/link-to}}</li>
</ul>

<h2>Config Files</h2>

<ul>
{{#each model.config as |file|}}
<li>{{#link-to 'config' file.name}}{{file.name}}{{/link-to}}</li>
{{/each}}
</ul>

<h2>Text Files</h2>
<ul>
{{#each model.textfiles as |file|}}
<li>{{#link-to 'textfile' file.file_type file.name}}{{file.name}}{{/link-to}}</li>
{{/each}}
</ul>

{{outlet}}