{{page-title "Shutdown"}}
<h1>Shutdown Initiated</h1>

<div class="alert alert-warning">The game should be shutting down any second now.  If for some reason it doesn't, your event dispatcher may be stuck.  If that happens, you'll need to log into the game's server shell and shut down the game manually.  See <a href="https://aresmush.com/tutorials/manage/shutdown/">AresMUSH Tutorials</a> for details.</div>
    
{{outlet}}