{{page-title model.title}}
<h1>{{model.title}}</h1>
<table class="table table-striped">

{{#each-in model.spells as |group spells|}}
<tr> <td> <h2>Level {{group}}</h2></td></tr>
  {{#each spells as |spell|}}
      {{spell-export-card spell=spell}}
  {{/each}}

{{/each-in}}


</table>
