{{title "Who's Online"}}
<h1>Who's Online</h1>

<p>{{model.who_count}} character(s) online.</p>

<table class="table table-striped">
    {{#each model.who as |char|}}
    <tr>
        <td> {{char-icon-inline char=char}} </td>        
    </tr>
    {{/each}}
</table>


{{outlet}}