{{title "Who's Online"}}
<h1>Who's Online</h1>

<p>{{model.who_count}} character(s) online.</p>

<table class="table table-striped">
    {{#each model.who as |char|}}
    <tr>
        <td> <CharIconInline @char={{char}} /> </td>        
    </tr>
    {{/each}}
</table>

<br>

<h4>Legend</h4>
  
    
<span class="inline-block">
  <img class="small-profile-icon icon-status-game-active" alt="Active On Game" src="/game/uploads/theme_images/noicon.png" >
  Active on Game
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-web-active" alt="Active On Portal" src="/game/uploads/theme_images/noicon.png" >
  Active on Portal
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-game-inactive" alt="Idle" src="/game/uploads/theme_images/noicon.png" >
  Idle on Game
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-web-inactive" alt="Idle" src="/game/uploads/theme_images/noicon.png" >
  Idle on Portal
</span>

{{outlet}}