{{title "Who's Online"}}
<h1>Who's Online</h1>

<p>{{model.who_count}} character(s) online.</p>

<table class="table table-striped">
    {{#each model.who as |char|}}
    <tr>
        <td> {{char-icon-inline char=char}} </td>        
    </tr>
    {{/each}}
</table>

<br/>

<h4>Legend</h4>

<span style="display: inline-block">
  <img class="small-profile-icon icon-status-game-active" src="/game/uploads/theme_images/noicon.png" />
  Active on Game
</span>

<span style="display: inline-block">
  <img class="small-profile-icon icon-status-web-active" src="/game/uploads/theme_images/noicon.png" />
  Active on Portal
</span>

<span style="display: inline-block">
  <img class="small-profile-icon icon-status-inactive" src="/game/uploads/theme_images/noicon.png" />
  Idle
</span>

{{outlet}}