<h1>{{model.heading}}</h1>

<div class="ansi">
{{{model.html}}}
</div>

<hr/>

<b>Tags:</b>  
TODO TAGS


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
        </div>
  </div>
</div>

{{outlet}}